<div class="row border h-75 no-gutters">
  <div class="col-9 bg-light border h-100 d-flex justify-content-center overlay-container" >
      <video class="border border-danger w-100 h-100" autoplay playsinline #myVideo>
      </video>      
  </div>

</div>

<div class="row flex-nowrap room-members">
  <div class="col" *ngFor="let remotePeer of remotePeers">
    <div>User {{remotePeer?.peerId}} </div>
      <video [id]="remotePeer?.peerId" class="border border-danger w-100 h-100" autoplay controls playsinline [srcObject]="(remotePeer?.stream)">
        
      </video>
  </div>
</div>