<div class="room-details-container" *ngIf="!isJoined">
  <div *ngIf="roomName" class="room-name-message">
    Meeting Room: <strong>{{ roomName }}</strong>
    <div>Please share it to all invitees</div>
    <div>
      <strong>NOTE:</strong>While joining the room, It is required for the HOST
      to enter name used while creating room
    </div>
  </div>
  <div class="details-container">
    <div class="room-create-controls">
      <input
        id="hostname"
        type="text"
        placeholder="Enter Host Name"
        #hostName
      />
      <button (click)="createRoom()">Create Room</button>
    </div>
    <div class="separator"></div>
    <div class="join-room-controls">
      <input
        id="roomMemberName"
        type="text"
        placeholder="Enter your name"
        #roomMemberName
      />
      <input id="roomId" placeholder="Enter room id" value="a-dr6w5" #roomId />
      <button (click)="joinRoom()">Join Room</button>
    </div>
  </div>
</div>

<div  class="meeting-room-container" *ngIf="isJoined">
  <div class="host-container" *ngIf="hostDetails?.peerId"> 
    <strong>{{ hostDetails?.roomMemberName }}</strong>
    <video
    [id]="hostDetails?.peerId"
    autoplay
    playsinline
    muted
    controls
    [srcObject]="hostDetails?.stream"
  ></video>
  </div>
  <div class="members-video-container" >
    <div *ngFor="let remotePeer of remotePeers">
      <div class="member-container" >
        <div *ngIf="!remotePeer?.isHost">
          <strong>{{ remotePeer?.roomMemberName }}</strong>
        </div>
        <video
          *ngIf="!remotePeer?.isHost"
          [id]="remotePeer?.peerId"
          autoplay
          playsinline
          controls
          muted="remotePeer?.peerId === myId"
          width="240"
          height="120"
          [srcObject]="remotePeer?.stream"
        ></video>
      </div>
    </div>
  </div>
  
    <!-- <div *ngIf="isHost">
      <button (click)="startSharing()">Start Sharing</button>
      <button (click)="stopSharing()">Stop Sharing</button>
    </div> -->
</div>
